@media(max-width:720px){
    .barr{
       
        width: 70%;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        
        transform: translateX(-100%);
        transition: all ease-in-out 0.5s;
    }
    .open{
        transform: translateX(0);
    }
}
.barr{
    z-index: 1000;
    width: 256px;
    position: fixed;
   left: 0%;
   top: 0%;
    overflow-y: hidden;
}